# Development Folders
.venv/*
__pycache__/*
.idea/*
.vscode/*
codeql-custom-queries-python/*
.github/*
test/*
docs/*
dataset/*
old_scripts/*
training_ipynb/*
3d_Stuff/*
model/old/*


# Development files that should not be in the repo

tech_report.md

*.pgn
*.csv
.env
fen.png
prediction.jpg
current_board.png
current_board.svg
frame.jpeg
*.pyc
squares.jpg
warped.jpg
*.copy
edges.jpeg
gray.jpeg
lines.jpeg
capturePics.py
test.py
findings.py
yolov8.py