# Development Folders
.venv/*
__pycache__/*
.idea/*
.vscode/*
codeql-custom-queries-python/*
.github/*
test/*


# Development files that should not be in the repo
.env
fen.png
prediction.jpg
current_board.png
current_board.svg
frame.jpeg
*.pyc
squares.jpg
warped.jpg
*.copy
edges.jpeg
gray.jpeg

# Testing files (To be removed if ma finalize na ang corner detection)
yolov8.py
utils/*